*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color:black;
}
.navbar-nav{
    list-style-type: none;
    text-align: left;
    height: 40px;
    width: 1108px;
}
.navbar-nav li{
    color:black;
    display: inline-table;
    width:120px;
    height:40px;
    line-height: 40px;
    position: relative;
    height: 40px;
    width: 150px;

}
.navbar-nav li a{
    color: black;
    text-decoration:none ;
    display: block;
    height: 40px;
    width: 150px;
    padding: 0px;
}
.navbar-nav li a:hover{
    background: aquamarine;
    color:black;
    
}
.thenv{
    display: none ;
    position: absolute;
    top: 40px; 
    padding-left: 0;
}
.navbar-nav li:hover .thenv{
    display: block;
    background-color: #F8F9FA;
}
.navbar-nav li .thenv:hover{
    display: block;
}


   
